body {
	position: relative;
	background-color: var(--color-grey-600);

	&:before {
		opacity: 1;
		content: '';
		position: absolute;
		// z-index: -2;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		// background-image: url(/uploads/P-Pattern_t3.svg);
		// background-size: 119vw;
		background-position: 50% 0%;
		background-attachment: fixed;
	}
}

main {
	display: flex;
	flex-direction: column;

}

.section-padding,
.section-divider {
	padding-top: var(--section-padding);
}

.section-divider:first-of-type {
	padding-top: inherit;
}

.inner-page--wrapper {
	margin-top: var(--spacer-xl);
	position: relative;
	display: flex;
	flex-direction: column;
	padding-bottom: var(--spacer-xxl);
}

.bg-light {
	background: hsla(0, 0%, 100%, .6);
}

.semiopaque-dark {
	background-color: #c5c5c56e;
}

.bg-dark {
	background-color: var(--color-grey-800);
}

.filter-invert {
	filter: invert(1)
}

.scallop {
	--height: 20px;
	margin-top: calc(-0.5 * var(--height));
	--scallopMask:
		linear-gradient(to bottom, #0000 14px, #000 0),
		radial-gradient(14px, #000 98%, #0000) top/25.90px 28px;
	height: var(--height);
	background: var(--color-primary);
	-webkit-mask: var(--scallopMask);
	mask: var(--scallopMask);
	position: absolute;
	bottom: 0; //calc(-1 * var(--height));
	display: block;
	width: 100%;
}

.wave {
	display: block;
	--mask:
		radial-gradient(13.16px at 50% calc(100% + 6.00px), #0000 calc(99% - 3px), #000 calc(101% - 3px) 99%, #0000 101%) calc(50% - 20px) calc(50% - 6.5px + .5px)/40px 13px repeat-x,
		radial-gradient(13.16px at 50% -6px, #0000 calc(99% - 3px), #000 calc(101% - 3px) 99%, #0000 101%) 50% calc(50% + 6.5px)/40px 13px repeat-x;
	-webkit-mask: var(--mask);
	mask: var(--mask);
	background-image: linear-gradient(90deg, var(--color-blue-600), var(--color-blue-300), var(--color-teal), var(--color-orange), var(--color-teal), var(--color-blue-300), var(--color-blue-600));
	background-size: 300%;
	height: 20px;
	width: 100%;
	margin-top: var(--spacer-xxl);
	margin-bottom: var(--spacer-xxl);
	animation: animateBackgroundColor 65s linear infinite;

	.container & {
		margin-left: -100vw;
		width: 200vw;
	}
}

.bloomberg-container {
	padding-bottom: var(--section-padding);
}

.entry-header {
	margin-bottom: var(--spacer-xl);

	.entry-title {
		font-size: var(--font-xl);

	}
}

.absolute-top-right {
	position: absolute;
	top: 0;
	right: 0;
}

.relative {
	position: relative;
}

.wp-post-image {
	width: 100%;
	max-width: none;
	margin-top: var(--spacer--images);
	margin-bottom: var(--spacer--images);

	.card.event--card & {
		margin-top: 0;
		margin-bottom: 0;
	}

	.entry-header + .post-thumbnail > & {
		margin-top: 0;
	}
}


.page-about .collaborators-container {
	margin-top: var(--spacer-xl);
}

.upcoming-workshops {
	margin-top: var(--spacer-xl);
}