.button,
button,
input[type=button],
input[type=reset],
input[type=submit],
.has-dark-blue-background-color {
	text-transform: unset;
	font-size: calc(var(--font-ms));
	font-weight: 300;
	background: var(--theme);
	border-color: var(--color-primary);
	border-radius: .8em; //var(--border-radius);
	transition: all .12s;
	height: unset;
	line-height: unset;
	padding: 1.75rem 2.5rem;
	margin-top: var(--spacer-lg);
	border: none;

	&.popup--close-button,
	&.frm_button_submit {
		margin-top: 0;
	}

	&,
	a {
		color: white;
		font-weight: 400;
	}

	&:hover {
		background: var(--color-accent);
		opacity: .9;
	}
}

.button-primary {
	--theme: var(--color-primary);
}

.button-secondary {
	--theme: var(--color-accent);
}

.button-tertiary {
	--theme: var(--color-tertiary);
}

.button.button-sm {
	font-size: var(--font-sm);
	// padding: .5rem 1.5rem;
	// border-radius: .52em;
}

.button.button-xs {
	font-size: var(--font-xs);
}

.button.button-hollow {
	color: var(--color-primary);
	background: transparent;
	border-color: currentColor;
	font-weight: var(--fw-normal);
	border: 1px solid;

	&:hover {
		background: var(--color-accent);
		color: var(--color-white);
	}
}

p:first-of-type + .button {
	margin-top: calc(var(--spacer-lg) - var(--spacer-ptag));
}