.card.is-horizontal {

	// & + .card.is-horizontal {
	margin-top: calc(var(--spacer-xl));

	// margin-bottom: calc(.5 * var(--spacer-xl));
	&:first-of-type {
		// margin-top: 0;
	}

	// }
	.event--location-container {
		display: none;
	}

}

.card {}

.card--image {
	img {
		width: 100%;
	}
}

.card--title {
	font-size: var(--font-md);
	margin-bottom: var(--spacer-sm);
	margin-top: var(--spacer-md);
}

.card--copy {
	font-size: var(--font-sm);
}

.card {

	&.column {
		margin-top: var(--spacer-lg);
	}
}