@mixin fontface($name, $path, $weight: 400, $style: "normal") {
	@font-face {
		font-family: #{$name};
		src: url("#{$path}.woff2") format('woff2'),
		url("#{$path}.woff") format('woff');
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@include fontface("Nueu Haas Grotesk", "./dist/fonts/cufon/neuehaasdisplaylight-webfont", 300);
@include fontface("Nueu Haas Grotesk", "./dist/fonts/cufon/neuehaasdisplaylightitalic-webfont", 300, "italic");
@include fontface("Nueu Haas Grotesk", "./dist/fonts/cufon/neuehaasdisplayroman-webfont", 400, "normal");
@include fontface("Nueu Haas Grotesk", "./dist/fonts/cufon/neuehaasdisplayromanitalic-webfont", 400, "italic");
@include fontface("Nueu Haas Grotesk", "./dist/fonts/cufon/neuehaasdisplaymediu-webfont", 600, "normal");
@include fontface("Nueu Haas Grotesk", "./dist/fonts/cufon/neuehaasdisplaymediumitalic-webfont", 600, "italic");
// @include fontface("Nueu Haas Grotesk", "./dist/fonts/pro/nhaasgroteskdspro-55rg-webfont", 400);
// @include fontface("Nueu Haas Grotesk", "./dist/fonts/pro/nhaasgroteskdspro-56it-webfont", 400, "italic");
// @include fontface("Nueu Haas Grotesk", "./dist/fonts/pro/nhaasgroteskdspro-65md-webfont", 600, "normal");
// @include fontface("Nueu Haas Grotesk", "./dist/fonts/pro/nhaasgroteskdspro-66mdit-webfont", 600, "italic");