@use '../abstracts/' as *;
$footerBp: '930px';

.footer-logos {

	margin-top: var(--spacer-md);

	.column {
		display: flex;
		align-items: center;
	}

	.row {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: var(--spacer-md);
		height: 100%;

	}
}

.footer-copy.column {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;

	@include bp(md) {
		max-width: none;
	}
}

.border-vert {
	display: none;
	position: relative;
	width: 3px;
	flex: 0 3px;
	background: var(--color-white);
	align-self: stretch;
	margin: 0 20px;

	@include bp($footerBp) {
		display: block;
	}
}


.site-footer {
	height: 100%;
	position: relative;
	padding: var(--spacer-lg) 0;
	background: var(--color-blue-600);
	color: var(--color-white);
	font-size: var(--font-sm);
	font-weight: var(--fw-normal);

	.menu-menu-1-container {
		max-width: 570px;
		margin: auto;
	}

	.menu-item {
		margin-top: var(--spacer-sm);

		a:hover {
			color: var(--color-white);
			text-decoration: underline;
		}

		.menu-item a {
			font-weight: var(--fw-light);
			font-size: var(--font-xs);
		}
	}

	.button.menu-item {
		display: none;
	}

	a {
		font-size: var(--font-sm);
		color: var(--color-white);
		font-weight: var(--fw-heavy);
	}
}

.footer-menu {
	justify-content: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: var(--spacer-md);

	@include bp(xs) {
		display: flex;
		justify-content: space-between
	}
}

.site-info.container > .row {
	flex-direction: column;
	align-items: center;

	.col1 {
		margin-top: var(--spacer-md);
		order: 1;
	}

	.col2 {
		order: 0;
	}

	@include bp($footerBp) {
		flex-direction: row;
		align-items: flex-start;

		.col1 {
			margin-top: 0;
			order: 0;
		}

		.col2 {}
	}
}