.footer-logos .row {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}


.site-footer {
	position: relative;
	padding: var(--section-padding) 0;
	background: var(--color-blue-600);
		margin-top: 20px;
	
		.scallop {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			transform: translatey(-50%);
	}
}

// menu
.site-footer {
color: white;
	font-size: var(--font-sm);
	font-weight: var(--fw-normal);

	a {
		color: var(--color-white);
		font-weight: var(--fw-normal);
	}
.menu {
	flex-direction: column;
	
		a {
			color: var(--color-white);
		font-size: var(--font-sm);
		font-weight: var(--fw-normal);
		}
}

.sub-menu {
	li {
			margin-left: .51em;
		}
	
		a {
			font-size: 0.8em;
			font-weight: 400;
		}
	}
}