@use "../abstracts/" as *;

.site-branding {
	width: 100px;

	@include bp(sm) {
		width: 150px;
	}

	// margin-top: -10px;
}

.site-header {
	display: flex;
	justify-content: space-between;
	padding: var(--gutter);
	padding-bottom: 0;
	transition: height .2s;
	height: auto;
}

.header-wave {
	.wave {
		margin: var(--spacer-md) 0;
		margin-top: var(--spacer-lg);
	}
}