:root {
	// CLORS
	--color-blue-300: hsl(211, 88%, 65%);
	--color-blue-600: hsl(234, 46%, 25%); //#001f66;
	--color-grey-300: hsla(0, 0%, 96%);
	--color-grey-600: hsla(0, 0%, 91%);

	--color-white: hsla(0, 0%, 100%);
	--color-black: hsla(0, 0%, 0%);

	--color-primary: var(--color-blue-600);
	--color-accent: var(--color-blue-300);

	--bg-light: var(--color-white);
	--bg-dark: var(--color-grey-300);
	// SPACING
	--spacer: 1rem;
	--gutter: 2rem;
	--section-padding: 5rem;
	--border-radius: 1.5rem;
}