.staff-members.row {
	display: flex;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 2rem;
}

.staff-member.column {
	flex: 0 1;
	font-size: var(--font-sm);
}

.staff--name {
	margin-bottom: 0;
	line-height: 1;
	font-weight: 400;
}

.staff--title {
	margin: 0;
	text-align: right;
	font-size: var(--font-xs);
	font-weight: 300;
}