@use '../abstracts/' as *;

#staff {
	margin-top: var(--spacer-xl);
}

.staff-members.row {
	display: flex;
	// grid-template-columns: repeat(5, 1fr);
	grid-gap: 2rem;
	display: grid;

	@include bp(xs) {
		grid-template-columns: repeat(2, 1fr);
	}

	@include bp(sm) {
		grid-template-columns: repeat(3, 1fr);
	}

}

.staff-member.column {
	flex: 0 0 auto;
	width: auto;
	font-size: var(--font-sm);
}

.staff--name {
	font-size: var(--font-md);
	margin-bottom: 0;
	line-height: 1;
	font-weight: var(--fw-heavy);
}

.staff--title {
	margin: 0;
	text-align: left;
	font-size: var(--font-ms);
	font-weight: 300;
}