.staff-members {
	display: flex;
	grid-template-columns: repeat(10, 1fr);
	grid-gap: 2rem;
}

.staff--name {
	margin-bottom: 0;
	line-height: 1;
	font-weight: 400;
}

.staff--title {
	margin: 0;
	text-align: right;
	font-size: var(--font-sm);
	font-weight: 300;
}