@use "../abstracts/" as *;

:root {
	--font-base: .81rem;
	--font-base: clamp(.75rem, 2vw, 1rem);
	--line-height: 1.2;
	--font-xl: calc(4.6* var(--font-base));
	--font-lg: calc(3.6* var(--font-base));
	--font-md: calc(2.6* var(--font-base));
	--font-ms: calc(2.2* var(--font-base));
	--font-sm: calc(2* var(--font-base));
	--font-xs: calc(1.8* var(--font-base));

	@include bp(sm) {
		--font-base: 1rem;
	}

	--fw-heavy: 700;
	--fw-normal: 400;
	--fw-light: 300;

	--font-default: Nueu Haas Grotesk,
	sans-serif;
	--font-header: var(--font-default);
}

body,
a {
	font-family: var(--font-default);
	color: var(--color-primary);
	font-weight: 400;
	font-size: var(--font-md);
	line-height: 1.2;
}

a {
	transition: color .2s;

	&:hover,
	&:hover * {
		color: var(--color-accent);
	}
}



p {

	&:last-of-type {
		margin-bottom: 0;
	}

	&,
	&:first-of-type {
		margin-bottom: var(--spacer-ptag);
	}

	&:empty {
		display: none;
	}

}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: var(--font-md);
	font-weight: var(--fw-heavy);
	letter-spacing: unset;
	margin-bottom: var(--spacer-md);
	margin-top: 0;
	font-family: var(--font-header);
	color: var(--color-primary);
	line-height: 1.1;
}



.font-parent {
	font-size: 1em;
}

.fw-normal {
	font-weight: var(--fw-normal);
}

.font-sm {
	font-size: var(--font-sm);
}

.font-md {
	font-size: var(--font-md);
}

.font-ms {
	font-size: var(--font-ms);
}

.font-xs {
	font-size: var(--font-xs);
}

.font-lg {
	font-size: var(--font-lg);
}

.font-xl {
	font-size: var(--font-xl);
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.lh-default {
	line-height: var(--line-height);
}

.lh-1 {
	line-height: 1;
}

.td-u {
	text-decoration: underline;
}


.page-learning [href="#"] {
	pointer-events: none;
}