@use "sass:map";
$breakpoints: (
	xs: 30rem,
	sm: 40rem,
	md: 80rem,
	lg: 120rem
);

@mixin bp($key, $maxMin: "min-width") {
	$size: $key;

	@if(map-has-key($breakpoints , $key )) {
		$size : map.get($breakpoints, $key);
	}

	@if($size) {
		@media screen and ($maxMin: $size) {
			@content;
		}
	}

	@else {
		@media screen and (#{$key}) {
			@content;
		}
	}
}