@use '../abstracts/' as *;

.artist--name {
	font-weight: 800;
}


.artist--wrapper {
	.artist--name {
		margin-bottom: var(--spacer-sm);
	}

	.artist--img-wrap {
		img {
			margin: 0;
			margin-bottom: var(--spacer-md);
		}
	}

	.artist--bio {
		font-size: var(--font-sm);
	}
}

.single-event {
	.artist--wrapper {
		margin-top: 0;
	}

	.connected-artist--section-title {}

	.connected-artists--items.row {
		flex-wrap: wrap;
	}

	.artist--bio {
		font-size: var(--font-md);
	}
}

.connected-artist--image-wrap {
	img {
		margin-top: 0;
	}
}

.artist--wrapper {
	margin-top: var(--spacer-lg);
}

.page-about {
	.artist--wrapper {

		@include bp(sm) {
			margin-top: 0;
		}
	}

	.artist--wrapper:first-of-type {
		margin-top: 0;
	}

	.artist--name {
		margin-top: 0;
	}
}

.page-collaborators {

	.artist--name {
		// margin-top: var(--spacer-md);
	}
}