@use '../abstracts/' as *;

.page-events {
	.archived-events {
		display: none;
	}
}

.event--grid-copy {
	@include bp(sm) {
		grid-template-columns: 315px 1fr;
		grid-gap: var(--spacer-lg);
	}
}

.event--main-copy {}

.event--connected-artists-wrapper {
	margin-top: var(--spacer-xl);
}

.event--header {
	display: flex;
	flex-direction: column;

	.event--subtitle,
	.event--date {
		font-size: var(--font-sm);
	}
}

.event--title {
	font-size: var(--font-xl);
	font-weight: 800;


	.event--listing &,
	.single-event &,
	.event--card & {
		line-height: .8;
		margin-bottom: .2em;
		margin-top: .2em;
	}

	.event--listing &,
	.event--card & {
		margin-top: .1em;
		margin-bottom: .1em;
		line-height: 1;
		font-size: var(--font-lg);
	}
}

.event--title-link {
	font-size: 1em;
	font-weight: inherit;
	line-height: inherit;
}


.event--card {


	& + .event--card {
		margin-top: var(--spacer-lg);
	}
}

.event--tag {
	font-size: var(--font-sm);
	font-weight: 600;

	&:before {
		content: ", "
	}

	&:nth-of-type(1):before {
		content: ''
	}
}

.tag {
	// &-performance {
	// 	background-color: var(--color-tertiary);
	// }

	// &-festival {
	// 	background-color: var(--color-quaternary);
	// }

	// &-conversation {
	// 	background-color: var(--color-accent);
	// }

	// &-installation {
	// 	background-color: var(--color-primary);
	// }

	// &-workshop {
	// 	background-color: var(--color-quaternary);
	// }
}

.event--meta-wrapper {
	font-size: var(--font-sm);
}

.event--meta-container + .event--meta-container {
	margin-top: var(--spacer-md);
}



.event--meta-title {
	font-weight: var(--fw-heavy);
	margin-bottom: var(--spacer-sm);
}

.event--notes {
	background: var(--color-grey-800);
	padding: calc(4* var(--spacer-sm));

	@include bp(sm) {
		max-width: 300px;
	}

	.event--meta-title {
		// margin-bottom: var(--spacer-sm);
	}
}

.event--note,
.event--note-link {
	font-size: var(--font-xs);
}

.event--note-link {
	margin-top: var(--spacer-md);
	display: inline-block;
	text-decoration: underline;
}

.event--listing {
	font-size: var(--font-ms);

	.event--header {
		margin-top: 1.5rem;
		margin-bottom: 0;

		@include bp(sm) {
			margin-top: 0;
		}

		.event--date,
		.event--location-container {
			display: none;
		}
	}

	.event--day {
		font-weight: 800;
		font-size: var(--font-sm);
		margin-bottom: var(--spacer);
	}

	.event--date {
		font-weight: 800;
		font-size: var(--font-md);
	}

	.event--time,
	.location--name {
		font-size: var(--font-sm);
		font-weight: 800;
	}

	.event--time {
		text-align: right;

		&:first-of-type {
			margin-bottom: var(--spacer);
		}
	}
}

.event-tag--filter {
	display: flex;

	select {
		color: var(--color-primary);
		border: 1px solid currentColor;
		width: 300px;
		border-radius: var(--border-radius);
		height: unset;
		line-height: unset;
		padding: 0.95em 1.9em;
		margin-bottom: var(--spacer-lg);
		background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="var(--color-primary)" d="M0,0l6,8l6-8"/></svg>') 100% no-repeat;
	}
}


.event--rsvp {
	.button {
		margin-top: 0;
	}
}

.event--rsvp-link {
	font-size: var(--font-sm);
	text-decoration: underline;
	align-self: center;
}

.archived-events {
	.event--listing {
		opacity: .75;

		&:hover {
			opacity: 1;
		}
	}

	.event--rsvp-link {
		display: none;
	}
}


.event--listing-grid-row {
	&:after {
		content: '';
		margin-top: var(--vert-spacing);
		border-bottom: 1px solid #ccc;
	}

	.event--listing:last-of-type & {
		&:after {
			display: none;
		}
	}

	&:last-of-type:after {
		content: '';
	}

	@include bp(sm) {
		display: grid;
		grid-template-columns: 270px 1fr 140px;
		grid-gap: 5vw;

		&:after {
			display: none;
		}
	}
}

.event--listing {
	--vert-spacing: var(--spacer-lg);

	@include bp(sm) {
		--vert-spacing: var(--spacer-xl);
	}

	&:first-of-type,
	& + .event--listing {
		margin-top: var(--vert-spacing);
	}

	.location--name {
		display: none;
	}
}

.single-event {
	.entry-content {
		margin-top: var(--spacer-lg);
	}

	.artist--wrapper {
		// margin-top: var(--spacer-lg);

		.artist--name {
			margin-top: var(--spacer-md);
		}
	}

	.card:first-of-type {
		margin-top: 0;
	}
}

.single-event,
.event--card.is-horizontal {
	.event--header {

		.event--location-container,
		.event--date {
			display: none;
		}
	}

	.event--connected-artists-wrapper {
		.wave {
			display: none;
		}
	}

	.artist--img-wrap {
		display: none;
	}
}